# 1. 데이터 생성

In [1]:
import pandas as pd

df = pd.DataFrame({"ABC": ["A","B","C","A"], 
    "abc":["a","b","c","c"],
    "group1":["G1","G2","G3","G4"],
    "value1":[11,13,12,14],
    "val1_mod":[0.231,0.197,0.213, 0.199] })
df

  ABC abc group1  value1  val1_mod
0   A   a     G1      11     0.231
1   B   b     G2      13     0.197
2   C   c     G3      12     0.213
3   A   c     G4      14     0.199

# 2. filter를 이용한 컬럼 선택

### 컬럼이름 직접 입력

In [ ]:
df.filter(items=["group1", "value1"])

### regex(regular express) 이용. '1'포함

In [ ]:
df.filter(regex="1", axis=1)

### regex이용. '1'로 끝나는 컬럼

In [ ]:
df.filter(regex="1$", axis=1)

### "a" 포함된 컬럼. regex="a"와 동일

In [ ]:
df.filter(like="a", axis=1)

### "A" 또는 "a" 포함된 컬럼([ ] 이용)

In [ ]:
df.filter(regex="[Aa]", axis=1)

# 3. mask를 이용한 데이터 선택

### 조건 입력 및 mask 적용

In [ ]:
df.mask(df.value1 > 12 )

In [ ]:
df.mask(df.abc == "a")

### 조건 입력 및 mask 적용, 조건에 해당되지 않는 값 처리

In [ ]:
df.mask(cond = df.value1 > 12, other = 999)