# 1. 연습 데이터 생성

In [1]:
import pandas as pd

df = pd.DataFrame({
    "index": [1,2,3],
    "alpha": ["A", "B", "C"],
    "values": [11, 22, 33],
    "xyz": ["x", "y", "z"]})

df

   index alpha  values xyz
0      1     A      11   x
1      2     B      22   y
2      3     C      33   z

# 2. stack을 이용한 변환

### index를 기준으로 변수들을 변환

In [2]:
df_stack = df.stack()

# 변환 결과 확인
print("stack 데이터 크기: ", df_stack.shape) # (12,) 배열
df_stack

stack 데이터 크기:  (12,)

0  index      1
   alpha      A
   values    11
   xyz        x
1  index      2
   alpha      B
   values    22
   xyz        y
2  index      3
   alpha      C
   values    33
   xyz        z
dtype: object

### unstack를 이용한 변환

In [3]:
df_unstack = df_stack.unstack() # stack된 데이터를 원래의 형태로 변환
df_unstack

  index alpha values xyz
0     1     A     11   x
1     2     B     22   y
2     3     C     33   z