# 1. 데이터 생성

In [3]:
import pandas as pd

df = pd.DataFrame({"ABC": ["A","B","C","A"], 
    "abc":["a","b","c","c"],
    "group1":["G1","G2","G3","G4"],
    "value1":[11,13,12,14],
    "val1_mod":[0.231,0.197,0.213, 0.199] })
df

  ABC abc group1  value1  val1_mod
0   A   a     G1      11     0.231
1   B   b     G2      13     0.197
2   C   c     G3      12     0.213
3   A   c     G4      14     0.199

# 2. filter를 이용한 컬럼 선택

### 컬럼이름 직접 입력

In [4]:
df.filter(items=['group1','value1'])

  group1  value1
0     G1      11
1     G2      13
2     G3      12
3     G4      14

### regex(regular express) 이용. '1'포함

In [5]:
df.filter(regex='1', axis=1)

  group1  value1  val1_mod
0     G1      11     0.231
1     G2      13     0.197
2     G3      12     0.213
3     G4      14     0.199

### regex이용. '1'로 끝나는 컬럼

### "a" 포함된 컬럼. regex="a"와 동일

### "A" 또는 "a" 포함된 컬럼([ ] 이용)

# 3. mask를 이용한 데이터 선택

### 조건 입력 및 mask 적용

### 조건 입력 및 mask 적용, 조건에 해당되지 않는 값 처리